<body class="bg-light">
    <section class="">
        <div class="container my-5 d-flex justify-content-center align-items-center">
            <div class="info-section">
            <div class="card card-custom p-4">
                <h2><%= name %></h2>
                <div class="d-flex gap-2 mb-3">
                <span class="badge bg-secondary">CSS</span>
                <span class="badge bg-secondary">PRO</span>
                </div>
                <h2>Description</h2>
                <p>
                <%= description %>
                </p>
                <h5>Learning Objectives</h5>
                <p>
                <%= Learning_Objectives %>
                </p>
                <h5>Prerequisites</h5>
                <p>
                <%= Prerequisites %>
                </p>
                <div class="footer-buttons d-flex justify-content-between">
                <button class="btn btn-outline-light">Share</button>
                <div class="d-flex gap-3">
                    <button class="btn btn-outline-light">Login</button>
                    <button class="btn btn-custom">Register</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        
        </section>
        
        <section id="features2" class="p-4">
            <h2 class="text-center mb-4" style="color: black;">More Games</h2>
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
                    <div class="col">
                        <a href="#">
                            <div class="row1" style="background-image: url(/image/OIP\ \(1\).jpg);">
                                <div class="content"></div>
                                <div class="game_info">
                                    <h4>Grid Garden</h4>
                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="row1" style="background-image: url(/image/OIP.jpg);">
                                <div class="content"></div>
                                <div class="game_info">
                                    <h4>Flexbox Frogy</h4>
                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                </div>    
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="row1" style="background-image: url(/image/download\ \(2\).jpg);">
                                <div class="content"></div>
                                <div class="game_info">
                                    <h4>Css Surgeon</h4>
                                    <h5>Lorem ipsum dolor sit amet.</h5>
                                </div>    
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
</body>


<style>
    p, h2, h5{
        color: white;
    }
    .card-custom {
        background-color: #0d3947;
        color: #fff;
    }
    .btn-custom {
        background-color: #ff4c5b;
        color: #fff;
      }
      .btn-custom:hover {
        background-color: #e43e50;
      }
</style>
